body {

}
ul li {
    display: inline-block;

}

#lista {
    font-weight: 100;
    
}
#fr {
    text-transform: capitalize;

}
#t {
    text-transform: capitalize;

}
ol {
    list-style-type:none;
}
.alert {
    color: black;
    background-image: url(https://as1.ftcdn.net/jpg/01/95/55/20/500_F_195552010_DaXeiiPL15MrQfBp9isnM7TVB8B2Ow6R.jpg)
}